/*HTML Styles*/

html {
    scroll-behavior: smooth;
}

/* Navigation Bar Styling */
#navbarNav{
   padding-left: 60%;
   overflow: hidden;
}

.navbar-container{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    float: right;
}

.nav-top {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
}

.navbar-items {
    position: relative;
    top: 10px;
    right: -950px;
}

.nav_top {
    margin: -25px -10px -70px -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav_message {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    cursor: pointer;
    
}

.nav-home {
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    top: 5px;
}

.nav-home:hover {
    color: #1fed86;

}



.nav-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
    
}

.nav-label:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 31px;
    cursor: pointer;
    text-decoration: none;
}

.nav-label-log-out {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
}

.nav-label-log-out:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00ff62;
    font-size: 31px;
    cursor: pointer;
    text-decoration: none;
    
}

.nav-label-arrow {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 30px;
    padding-right: 10px;

}


/* Container Styling */

.outer_window {
    text-align: center;
    background-color: #52288C;
    padding: 10px;
    overflow-x: hidden;
}

.outer_window2 {
    text-align: left;
    background-color: #52288C;
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 18%;
    padding-left: 17%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.div-bg-wave {
    background: url(bubbles.png);
    margin: -10px -10px -10px -10px;
    height: 450px;
}

.div-bg-img {
    background: url(bubbles.png);
    margin: -100px -10px -10px -10px;
    position: relative;
    bottom: -53px;
    height: 300px;
}

.div-bg-negative {
    background-color: #bdb3d1;
    margin: -10px -12px -10px -10px;
    height: 320px;
}

.div-bg {
    background-color: #1D1135;
    margin: -10px -15px -10px -10px;
    height: 320px;
}

.div-bg1 {
    background-color: #AD77E6;
    margin: -10px -15px -10px -10px;
    height: 300px;
    padding: 0;
}

.img-checkmark {
    width: 170px;
    height: 200px;
    float: right;
    margin-right: 300px;
}

.img-shadow {
    width: 800px;
    height: 850px;
    position: relative;
    top: 300px;
    left: 60px;
    z-index: 1;
}


.img-shadow2 {
    width: 450px;
    position: relative;
    top: 115px;
    left: 370px;
    z-index: 1;
}

.img-boat {
    width: 250px;
    height: 160px;
    position: relative;
    left: 0px;
    float: left;
    margin-left: 300px;
}

.img-wave {
    width: 200px;
    position: relative;
    top: 800px;
}

.container {
    text-align: center;
    padding: 16px;
    width: 50%;
    position: absolute;
    left: 380px;
}



.responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


/* Title text & images */

.MemoBoat-container{
    position: relative;
    bottom: 250px;
}

#MemoBoat{
    width: 800px;
    transform: rotate(-25deg); 
    animation: float 6s ease-in-out infinite; 
    float: right; 
    position: absolute; 
    top: -170px; 
    left: 510px; 
}

#MemoBoat-shadow{
    width: 350px;  
    float: right; 
    position: absolute; 
    top: 210px; 
    left: 740px;
}

.title-image {
    width: 200px;
    transform: rotate(-25deg);
    animation: float 6s ease-in-out infinite;
}

.title {
    color: white;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: italic;
}

    #MB-title{

        text-shadow: black 5px -5px;
    }

.message {
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    z-index: 100;
    position: relative;
    padding: 50px 0px 20px 0px;
}

.title-child {
    color: white;
    font-size: 30px;
    font-family: 'Agency FB';
    padding: -30px 0px 50px 0px;
    position: relative;
    z-index: 100;
}

.learn-more-text {
    font-family: 'Agency FB';
    color: white;
    position: relative;
    font-size: 40px;
    font-weight: 500;
    bottom: 10px;
    text-align: center;
}


#boat1{
    width: 320px; position: relative; float:left;
}

#boat2{
    width: 320px; position: relative; float:left;
}

#boat3{
    width: 320px; position: relative; float:left;
}

#boat4{
    width: 320px; position: relative; float:left;
}

#checkmark {
    width: 170px;
    float: right;
}


#footer {
    text-align: center;
    padding-top: 10%;
    padding-right: 7%;
    padding-left: 7%;
    margin-top: -200px;
    position: absolute;
    left: 550px;
}

#copy-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    position: relative;
    bottom: -230px;
    left: 0px;
    margin-top: -150px;

}


/*Buttons Styling */

.myButton {
    background-color: #591FED;
    width: 140px;
    height: 40px;
    border-radius: 10px;
}

.myButton:hover {
    background-color: #1fed86;
    cursor: pointer;
}

.myButton2 {
    background-color: #1D1135;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.myButton2:hover {
    background-color: #1fed86;
}



.myButton-Message {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: -10px -10px -10px -10px;
    padding: 0%;
    color: white;
    position: relative;
    bottom: 2px;
}

.btn-box {
    display: inline;
    padding-top: 1%;
    padding-right: 2%;
}



/*Logo Animation Properties*/
@keyframes float {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-20px);
    }

    100% {

        transform: translatey(0px);
    }
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1400px) {
    #MemoBoat{
        width: 600px;
        transform: rotate(-25deg); 
        animation: float 6s ease-in-out infinite; 
        float: right; 
        position: absolute; 
        top: -60px; 
        left: 450px; 
    }
    
    #MemoBoat-shadow{
        width: 200px;  
        float: right; 
        position: absolute; 
        top: 290px; 
        left: 660px;
    }
    
  }

  @media only screen and (max-width: 1180px) {
    .MemoBoat-container{
        position: relative;
        bottom: 200px;
        right: 150px;
    }
    
    #MemoBoat{
        width: 500px;
        transform: rotate(-25deg); 
        animation: float 6s ease-in-out infinite; 
        float: right; 
        position: absolute; 
        top: -60px; 
        left: 560px; 
    }
    
    #MemoBoat-shadow{
        width: 150px;  
        float: right; 
        position: absolute; 
        top: 210px; 
        left: 740px;
    }

    .title {
        color: white;
        font-size: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    
    .title-child {
        color: white;
        font-size: 28px;
        font-family: 'Agency FB';
        padding: -30px 0px 50px 0px;
        position: relative;
        z-index: 100;
    }
    
    
  }

  @media only screen and (max-width: 980px) {
    .MemoBoat-container{
        position: relative;
        bottom: 200px;
        right: 150px;
    }
    
    #MemoBoat{
        width: 450px;
        transform: rotate(-25deg); 
        animation: float 6s ease-in-out infinite; 
        float: right; 
        position: absolute; 
        top: -10px; 
        left: 540px; 
    }
    
    #MemoBoat-shadow{
        width: 150px;  
        float: right; 
        position: absolute; 
        top: 210px; 
        left: 690px;
    }

    .title {
        color: white;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    
    .title-child {
        color: white;
        font-size: 18px;
        font-family: 'Agency FB';
        padding: -30px 0px 50px 0px;
        position: relative;
        z-index: 100;
    }
    
    
  }

  @media only screen and (max-width: 950px) {
    .MemoBoat-container{
        position: relative;
        bottom: 200px;
        right: 150px;
    }
    
    #MemoBoat{
       display: none;
    }
    
    #MemoBoat-shadow{
        display: none;
    }

    .title {
        color: white;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    
    .title-child {
        color: white;
        font-size: 18px;
        font-family: 'Agency FB';
        padding: -30px 0px 50px 0px;
        position: relative;
        z-index: 100;
    }
    
    
  }


  @media only screen and (max-width: 661px) {

    .MemoBoat-container{
        position: relative;
        bottom: 200px;
        right: 300px;
    }
    
    .learn-more-text {
        font-size: 30px;
    }

    .message{
        font-size: 35px;
    }

    .nav-label {
        font-size: 20px;
    }
    
    .nav-label-log-out {
        font-size: 20px;
    }
    
    
  }

  @media only screen and (max-width: 1250px) {
    
    #boat1{
        display: none;
    }
    
    #boat2{
        display: none;
    }
    
    #boat3{
        display: none;
    }
    
    #boat4{
        display: none;
    }
    
    #checkmark {
        display: none;
    }
    
    
  }

 