/* Navigation Bar Styling */

.nav_top {
    margin: -25px -10px -70px -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav_message {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    cursor: pointer;
}

.nav-home {
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    top: 5px;
}

.nav-home:hover {
    color: #1fed86;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    top: 5px;
}

.navbar-container {
    position: relative;
    top: 10px;
    right: -800px;
}

.nav-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
}

.nav-label:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 40px;
    font-style: italic;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.nav-label-log-out {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
}

.nav-label-log-out:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ec1a1a;
    font-weight: 300;
    font-size: 40px;
    font-style: italic;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.nav-label-arrow {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 30px;
    padding-right: 10px;

}



/* Container Styling */

.outer_window {
    text-align: center;
    background-color: #52288C;
    padding: 10px;
}

.container {
    text-align: center;
    padding: 16px;
    width: 50%;
    padding-bottom: -500px;
}

.container2 {
    text-align: center;
    padding: 16px;
    width: 50%;
    position: relative;
    left: 100px;
    padding-bottom: -500px;
}

.create-btn-box {
    position: relative;
    bottom: 80%;
    left: -150%;
}

#box-right {
    position: absolute;
    left: 950px;
    bottom: -10px;
}


#footer {
    text-align: center;
    padding-top: 10%;
    padding-right: 7%;
    padding-left: 7%;
    margin-top: -200px;
}

/*Text Styling */

.title {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 0px 0px 50px 0px;
    color: white;
    font-weight: 900;
    position: relative;
    left: -400px;
    animation-name: example;
    animation-duration: 4s;
}

#copy-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    margin: 5px -10px -70px -10px;
    position: relative;
    left: 50px;
    top: 10px
}

.success-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(0, 255, 0);
    position: relative;
    left: 50px;
    bottom: 30px;
    text-align: center;
}

/*Tables Styling */
table,
tbody,
div {
    border: 0px solid #4d06da;
    border-radius: 15px;
}

tr,
th,
thead {
    border: 0px solid #4d06da;
    font-size: 14px;
    color: rgb(0, 0, 0);
    border-radius: 15px;

}

td {
    border: 0px solid #ffffff;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border-radius: 15px;


}

#create-report-table {
    background-color: #1D1135;
    width: 480px;
    height: 600px;
    border-radius: 15px;
    padding-top: 20px;
    position: relative;
    bottom: 50px;
    left: 30px;
}

#view-table {
    background-color: #1D1135;
    width: 800px;
    height: 600px;
    border-radius: 15px;
    padding-top: 20px;
    margin-bottom: -500px;
    float: right;
    position: absolute;
    top: -50px;
    left: 40px;

}

.white-box {
    background-color: #ffffff;
    width: 800px;
    height: 600px;
    border-radius: 15px;
    padding-top: 20px;
    margin-bottom: -1500px;
    float: right;
    position: relative;
    top: -682px;
    left: 570px;

}

.table-box {
    background-color: #ff0000;
    position: relative;
    left: 90px;
    bottom: 0px;
}



.table-data {
    background-color: white;
    height: 455px;
    width: 770px;
    border-radius: 15px;
    position: absolute;
    top: -50px;
    left: -75px;
}

.table-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: white;
    position: relative;
    left: -90px;
    margin: -10px 20px 5px 0px;
}

.table-header-view {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: white;
    position: relative;
    left: -200px;
    margin: -10px 20px 5px 0px;
}

.table-header-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: white;
    position: relative;
    left: -45px;
    margin: -10px 20px 5px 0px;
}


/* Input Field Styling*/

.text-box {
    margin-bottom: -15px;
}

.text-box-right {
    margin-top: -10px;
    padding-bottom: 25px;
}

.input-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    left: -120px;
    margin: 5px 20px 5px 0px;
}


.input-label-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    left: -95px;
    bottom: -5px;
    margin: 5px 20px 5px 0px;
}

.input-label-role {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    left: -95px;
    margin: 5px 20px 5px 0px;
}

.input-label-group {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    left: -125px;
    margin: 5px 20px 5px 0px;
}

.input-label-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: absolute;
    left: 15px;
    margin: 5px 20px 5px 0px;
}

.input-label-report {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: absolute;
    left: -105px;
    margin: 5px 20px 5px 0px;
}

.input-label-id {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    left: -300px;
    margin: 5px 20px 5px 0px;
}

.input-label-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    margin: 5px 20px 5px 0px;
    position: relative;
    left: -70px;
    bottom: 55px;
}

.input-box[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: 50px;
    bottom: 30px;
    text-align: center;

}

.input-box[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
    text-align: center;
}

.input-box-right[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 35px;
    position: relative;
    left: 2px;
    bottom: 35px;
    text-align: center;

}

.input-box-right[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
    text-align: center;
}

.input-box-sm[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: 50px;
    bottom: 30px;
    text-align: center;

}

.input-box-sm[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
    text-align: center;
}


.input-box-report[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-weight: 500;
    width: 250px;
    height: 160px;
    padding-left: 10px;
    position: relative;
    left: 50px;
    bottom: 30px;
}

.input-box-report[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
}

.input-box-id[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: -190px;
    bottom: 35px;
    text-align: center;

}

.input-box-id[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
}

.input-box-name[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
}

.input-box-name[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: 80px;
    bottom: 90px;
    text-align: center;

}

.input-box-id-right[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-weight: 500;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: -45px;
    bottom: 35px;
    text-align: center;

}

.input-box-id-right[type=text]:focus {
    outline: none;
    border: 1px solid #591FED;
    color: #591FED;
    font-weight: 500;
}


#line-break {
    background-color: #591FED;
    width: 180px;
    height: 6px;
    position: relative;
    left: 10px;
    margin-bottom: 10px;
}

#line-break-left {
    background-color: #591FED;
    width: 450px;
    height: 6px;
    position: relative;
    left: 10px;
    margin-bottom: 10px;
}

/*Buttons Styling */

.myButton {
    background-color: #591FED;
    position: absolute;
    left: 50px;
    width: 340px;
    height: 50px;
    border-radius: 15px;
}

.myButton:hover {
    background-color: #1fed86;
    position: absolute;
    left: 50px;
    width: 340px;
    height: 50px;
    border-radius: 15px;
}

.myButton2 {
    background-color: #591FED;
    position: absolute;
    left: 50px;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.myButton2:hover {
    background-color: #1fed86;
    position: absolute;
    left: 50px;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.myButton-Delete {
    background-color: #591FED;
    position: absolute;
    left: 50px;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.myButton-Delete:hover {
    background-color: #ed1f1f;
    position: absolute;
    left: 50px;
    width: 180px;
    height: 50px;
    border-radius: 15px;
}

.myButton-View {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: -10px -10px -10px -10px;
    padding: 0%;
    color: white;
    position: relative;
    bottom: 0px;
}

.myButton-Message {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: -10px -10px -10px -10px;
    padding: 0%;
    color: white;
    position: relative;
    bottom: 5px;
}

#addReportButton {
    position: relative;
    top: -20px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}



#listTablesButton {
    position: relative;
    top: 110px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}

#createButton {
    position: relative;
    top: 50px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}

#viewReportsButton {
    position: relative;
    top: -20px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}

#checkButton {
    position: relative;
    top: 80px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}

#next-pageButton {
    position: relative;
    top: 140px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}

#deleteTableButton {
    position: relative;
    top: 140px;
    left: 650px;
    float: right;
    margin-bottom: 5px;
}

#deleteTableButton:hover {
    background-color: red;
}

/* Image Styling */

#boat-sm {
    width: 150px;
    position: relative;
    bottom: 145px;
    left: -120px;
}

#boat-arrow {
    width: 100px;
    position: relative;
    bottom: 300px;
    left: 190px;
    animation: dropdown;
    animation-duration: 4s;
}


.move-result {
    color: #591FED;
    font-size: 18px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 20%;
    left: 80%;
    margin: -10px -10px -10px -10px;
    width: 400px;
}

/* Effects */

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}


@keyframes example {
    0% {
        left: 1200px; 
    }


    100% {
        left: -400px; 
    }
}

@keyframes dropdown {
    0% {
        top: -1000px; 
    }


    100% {
        top: -300px; 
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
