/*HTML Styles*/

html {
    scroll-behavior: smooth;
}

/* Navigation Bar Styling */
#navbarNav{
   padding-left: 60%;
   overflow: hidden;
}

.navbar-container{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    float: right;
}

.nav-top {
    padding-top: 50px;
    display: grid;
    grid-gap: 2em;
}

.navbar-items {
    position: relative;
    top: 10px;
    right: -950px;
}

.nav_top {
    margin: -25px -10px -70px -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav_message {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    cursor: pointer;
    
}

.nav-home {
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 30px;
    position: relative;
    top: 5px;
}

.nav-home:hover {
    color: #1fed86;

}



.nav-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
    
}

.nav-label:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 31px;
    cursor: pointer;
    text-decoration: none;
}

.nav-label-log-out {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
    padding-right: 15px;
    text-decoration: none;
}

.nav-label-log-out:hover {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00ff62;
    font-size: 31px;
    cursor: pointer;
    text-decoration: none;
    
}

.nav-label-arrow {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
    font-size: 30px;
    padding-right: 10px;

}

/*Table Styling */

.table-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: white;
    position: relative;
    left: 10px;
}

/* Container Styling */

.outer_window {
    text-align: center;
    background-color: #52288C;
    overflow-x: hidden;
    padding-top: -500px;
}

.outer_window2 {
    text-align: left;
    background-color: #52288C;
    overflow: hidden;
    padding-left: 17%;
    padding-top: -500px;
    padding-bottom: 200px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



.report-box {
    background-color: #1D1135;
    width: 400px;
    height: 580px;
    border-radius: 15px;
    position: relative;
}

.move-result {
    color: #591FED;
    font-size: 18px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 10%;
    left: 160%;
    margin: -10px -10px -10px -10px;
    width: 400px;
}

#instructions-box {
    background-color: #1D1135;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
}


.container {
    text-align: center;
    padding: 16px;
    width: 50%;
    position: absolute;
    left: 380px;
}



.responsive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* Input Field Styling*/

.text-box {
    margin-bottom: -15px;
}

.input-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    top: -19px;
    left: 55px;
}


.input-label-date {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    top: -19px;
    left: 55px;
}

.input-label-role {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    top: -19px;
    left: 55px;
}

.input-label-group {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    top: -19px;
    left: 55px;
}

.input-label-report {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    top: -19px;
    left: 55px;
}

.input-label-id {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    position: relative;
    left: -300px;
    margin: 5px 20px 5px 0px;
}

.input-label-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    color: white;
    margin: 5px 20px 5px 0px;
    position: relative;
    left: -70px;
    bottom: 55px;
}

.input-box[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: 50px;
    bottom: 30px;
    text-align: center;

}

.input-box[type=text]:focus {
    outline: none;
    border: 3px solid #591FED;
    color: #000000;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.input-box-sm[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: 50px;
    bottom: 30px;
    text-align: center;

}

.input-box-sm[type=text]:focus {
    outline: none;
    border: 3px solid #591FED;
    color: #000000;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


.input-box-report[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
    height: 160px;
    padding-left: 10px;
    position: relative;
    left: 50px;
    bottom: 30px;
    resize: none;
}

.input-box-report[type=text]:focus {
    outline: none;
    border: 3px solid #591FED;
    color: #000000;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-box-id[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: -190px;
    bottom: 35px;
    text-align: center;

}

.input-box-id[type=text]:focus {
    outline: none;
    border: 3px solid #591FED;
    color: #591FED;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-box-name[type=text]:focus {
    outline: none;
    border: 3px solid #591FED;
    color: #591FED;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-box-name[type=text] {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid white;
    color: #591FED;
    font-size: 20px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    margin-bottom: -100px;
    margin-bottom: -80px;
    position: relative;
    left: 80px;
    bottom: 90px;
    text-align: center;

}


#line-break {
    background-color: #591FED;
    width: 290px;
    height: 6px;
    position: relative;
    left: 10px;
    margin-bottom:20px;
}

/* Title text & images */

.MemoBoat-container{
    position: relative;
    bottom: 250px;
}

#MemoBoat{
    width: 800px;
    transform: rotate(-25deg); 
    animation: float 6s ease-in-out infinite; 
    float: right; 
    position: absolute; 
    top: -170px; 
    left: 510px; 
}

#MemoBoat-shadow{
    width: 350px;  
    float: right; 
    position: absolute; 
    top: 210px; 
    left: 740px;
}

.title-image {
    width: 200px;
    transform: rotate(-25deg);
    animation: float 6s ease-in-out infinite;
}



.title {
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-style: italic;
    animation-name: example;
    animation-duration: 4s;
}

#MB-title{

    text-shadow: black 5px -5px;
}

.message {
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    cursor: pointer;
    z-index: 100;
    position: relative;
    padding: 50px 0px 20px 0px;
}

.title-child {
    color: white;
    font-size: 30px;
    font-family: 'Agency FB';
    padding: -30px 0px 50px 0px;
    position: relative;
    z-index: 100;
}


#copy-right {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    line-height: 1.5;
    color: white;
    position: relative;
    bottom: -230px;
    left: 0px;
    margin-top: -150px;

}


/*Buttons Styling */

.myButton {
    background-color: #591FED;
    width: 250px;
    height: 40px;
    border-radius: 10px;
}

.myButton:hover {
    background-color: #1fed86;
    cursor: pointer;
}

.myButton2 {
    background-color: #1D1135;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}

.myButton2:hover {
    background-color: #1fed86;
}



.myButton-Message {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-style: italic;
    margin: -10px -10px -10px -10px;
    padding: 0%;
    color: white;
    position: relative;
    bottom: 2px;
}

.btn-box {
  position: relative;
  top: -20px;
  left: 50px;
}

.btn-box2 {
    position: relative;
    top: 50px;
    left: 20px;
  }


/*Animation Properties*/
 
@keyframes example {
    0% {
        left: 00px; 
    }


    100% {
        left: -400px; 
    }
}

  @media only screen and (max-width: 1180px) {


    .title {
        color: white;
        font-size: 70px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    
    .title-child {
        color: white;
        font-size: 28px;
        font-family: 'Agency FB';
        padding: -30px 0px 50px 0px;
        position: relative;
        z-index: 100;
    }
    
    
  }

  @media only screen and (max-width: 980px) {

    .title {
        color: white;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    
    .title-child {
        color: white;
        font-size: 18px;
        font-family: 'Agency FB';
        padding: -30px 0px 50px 0px;
        position: relative;
        z-index: 100;
    }
    
    
  }

  @media only screen and (max-width: 950px) {

    .title {
        color: white;
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-style: italic;
    }
    
    .title-child {
        color: white;
        font-size: 18px;
        font-family: 'Agency FB';
        padding: -30px 0px 50px 0px;
        position: relative;
        z-index: 100;
    }
    
    
  }



